.Logo{
  position: absolute;
  width: 140px;
  cursor: pointer;
  left: 0;
  top: 0;
  
}

h1{
  font-size: 3em;
  margin: 10px auto;
  text-align: center;

}


ul{
  list-style-type: disc;
  margin: 10px auto;
}


.Hero-Container{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-text{
  font-size: 9em;
  display: inline;
  margin: auto auto;
}

.section1{
  flex-direction: column;
  display: flex;
  margin: auto atuo;
  height: 300px;
}


.paragraph{
  font-size: 1.2em;
  margin: 20px auto;
  font-weight: 400;
  text-align: center  ;
  padding: 0 20px;
  font-style: italic;

}

.apply-button { 
  margin: 5px auto;
  display: block;
  padding: 10px 20px;
  font-size: 1.5em;
  background-color:  #000;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.2ms ease-in
}

.apply-button:hover {
  background-color: #222222d0;
}

/* Media Query for Tablets */
@media screen and (max-width: 900px){
  .hero-text{
    font-size: 4em;
  }
}

/* Media Query for Mobile */
@media screen and (max-width: 600px){
  .hero-text{
    
    font-size: 4em;
  }
}