.ComingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
    monospace;
  text-align: center;
}

.content {
  max-width: 600px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Logo {
  /* max-width: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  padding: 10px; */
}

h1 {
  font-size: 3rem;
  margin: 20px 0;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
  .Logo {
    display: none;
  }
}
