.dashboard-container{ 
	position: relative;
	width: 100%;
	margin: auto;
	height: 100vh;
}

.sidebar{
    width: 200px;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
		align-items: center;
    border-right: 2px solid #000000;
    background-color: 		#fff;
    padding: 0 10px 0 10px;
		flex-direction: column;	
}

.sidebar > ul, .sidebar > button{
    width: 100%; 
		list-style: none;
		padding: 0;
		margin: 0
}

li > a, li > button{
    list-style: none;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    color:#000;
    font-weight: 700;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
		text-decoration: none;
 }
li > a:hover, li > a:active, li > a:focus, li > button:hover, li  > button:active, li > button:focus{
    background-color: #000000;
		color: #fff;
    cursor: pointer;    
}

.Active{
    background-color: #000000;
}

li > button{
    background-color: #fff;
		border-radius: 0;
    padding: 10px 5px 10px 5px;
}



