/* Style navbar */
.navbar {
    overflow: hidden;
    width: max-content;
    margin-top: 20px;
    float: right;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 0 10px;
}

.nav-links li{
    display: inline;
    padding-right: 10px;
}


.NavButton{
    width: 150px;
    text-align: center;
    padding: .5rem .5rem .5rem .5rem ;
    background-color: transparent;
    margin-right: 15px;
    cursor: pointer;
    background-color: #000;
    border-radius: 10px;
}
.NavButton:hover {
    background-color: #fff;
    color: #000;
}
.NavButton:hover > a { 
    color: #000;
}


.nav-links a{ 
    transition: all 0.1s ease 0s;
    color: #fff;
    text-decoration: none; 
    font-size: 1.5em;
}



/* Mobile Media Query for mobile  */

@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }    
}